// .custom-color{
//     color: white; /* Text color */
//   }
//   .custom-bg {
//     background-color: #636AE8; /* Background color */
//   }
  
  
//   .custom-input:focus {
//     border-color: #636AE8;  /* Focused border color */
//     box-shadow: 0 0 0 0.25rem rgba(99, 106, 232, 0.25);

//   }

//   button.custom-input:hover {
//     background-color: #636AE8 !important; /* Change background color */
//     border-color: #636AE8 !important; /* Change border color */
//     color: white !important; /* Change text color */
//     box-shadow: 0 0 10px rgba(99, 106, 232, 0.5); /* Add glow effect */
// }


  .custom-inputbox {
    width: 90px;  /* Adjust width */
    height: 35px;  /* Adjust height */
    font-size: 12px; /* Adjust font size */
    padding: 10px; /* Adjust padding */
}
.custom-smallinputbox{
  width: 60px;  /* Adjust width */
  height: 35px;  /* Adjust height */
  font-size: 12px; /* Adjust font size */
  padding: 10px; /* Adjust padding */
}


